<template component>
  <link rel="stylesheet" href="../lib/w3.css" />

  <!-- Navbar (sit on top) -->
  <div class="w3-top" style="position: sticky">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="http://gwf.usask.ca" class="w3-bar-item w3-button"
        ><img
          src="../images/logo.png"
          height="30"
          width="30"
          style="margin: -30px 0"
      /></a>
      <!-- Float links to the right. Hide them on small screens -->
      <nav class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#gallery" class="w3-bar-item w3-button">Gallery</a>
        <a href="#teams" class="w3-bar-item w3-button">Teams</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </nav>
    </div>
  </div>
</template>
