<template component>
  <link rel="stylesheet" href="../lib/w3.css" />

  <!-- Header -->
  <header
    class="w3-display-container w3-content w3-wide"
    style="max-width: 100%"
    id="home"
  >
    <img
      class="w3-image"
      src="../images/teaser.jpg"
      alt="teaser"
      style="width: 100%; height: 600px"
    />
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white">
        <span class="w3-padding w3-black w3-opacity-min"
          ><b>A Global Water Futures Visualization Platform</b></span
        >
        <span class="w3-hide-small w3-text-light-grey"></span>
      </h1>
    </div>
  </header>
</template>
