<template component>
  <link rel="stylesheet" href="../lib/w3.css" />
  <l-m src="./section-about.html"></l-m>
  <l-m src="./section-gallery.html"></l-m>
  <l-m src="./section-teams.html"></l-m>
  <l-m src="./section-funding.html"></l-m>
  <l-m src="./section-contact.html"></l-m>
  <l-m src="./section-map.html"></l-m>

  <div class="w3-content w3-padding" style="max-width: 1564px">
    <section-about id="about"></section-about>
    <section-gallery id="gallery"></section-gallery>
    <section-teams id="teams"></section-teams>
    <section-funding id="funding"></section-funding>
    <section-contact id="contact"></section-contact>
    <section-map></section-map>
  </div>
</template>
