<template component>
  <link rel="stylesheet" href="../lib/w3.css" />

  <div class="w3-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2095.130792943621!2d-106.635609!3d52.132454!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f6b7a83a91c1%3A0x8414a96cdfff4cd0!2sThorvaldson%20Bldg%2C%20Saskatoon%2C%20SK%20S7N%205E2%2C%20Canada!5e1!3m2!1sen!2sus!4v1698238637578!5m2!1sen!2sus"
      width="100%"
      height="500"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</template>
